body {
  background: url(https://images.unsplash.com/photo-1515067598661-deccdb3fb20c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80) no-repeat center center fixed;
  background-size: cover;
}

.main-section {
  margin: 1.75rem auto;
  margin-top: 130px;
  padding: 0px 20px;
  max-width: 650px;
  text-align: center
}

.content-area {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color:
  #fff;
  background-clip: padding-box;
  border: 1px solid
  rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  overflow-wrap: break-word;
  padding-top: 5px;
}

.transaction-area {
  text-align: left;
}