<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Bank Hub</title>
</head>
<body>
    <h1>Welcome to Bank Hub!</h1>

    <h2><em>Hello, USERNAME</em></h2>

    <div class="container">

        <h3>Accounts</h3>

        <ul>
            <li>RENDER ACCOUNT NAME 1</li>
            <li>RENDER ACCOUNT NAME 2</li>
        </ul>

    </div>

    <div class="container-fluid">
        <h3>RENDER ACCOUNT NAME</h3>
        
        <ul>
            <li>RENDER TRANSACTION</li>
            <li>RENDER TRANSACTION</li>
            <li>RENDER TRANSACTION</li>
            <li>RENDER TRANSACTION</li>
            <li>RENDER TRANSACTION</li>
        </ul>

    </div>
</body>
</html>